/*Backround divs*/

body {
    background-image: url(/static/img/bokeh.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.white-bg {
    background-color: white;
}

/*Navbar*/
.nav {
    background-color: white;
    text-align: center;
    margin-bottom: 0;
    transition: all 0.25s linear;
}

.inverse-nav {
    background-color: rgba( 0, 0, 0, .5 );
    border-bottom: 1px solid white;
}

#navbar.inverse-nav a {
    color: white;
}

#navbar.inverse-nav a:hover {
    color: black;
}

.nav li {
    list-style: none;
    display: inline-block;
    font-size: 13px;
    width: 200px;
}

.nav a {
    color: black;
    transition: all 0.25s linear;
}

/*Text*/

.thin-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.midbold-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.bold-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;   
}

.italic {
    font-style: italic;
}

.normal {
    font-style: normal;
}

.remove-top-padding {
    padding-top: none;
}

.inverse-text {
    color: white;
    text-shadow: 2px 2px black;
}

.header {
    padding-top: 100px;
    padding-bottom: 100px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-top: 15px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}


/*Formatting*/

.content {
    margin-top: 40px;
}

.contact-div {
    display: inline-block;
    align: center;
}

#email-link {
    color: white;
}

.section {
    padding-top: 30px;
    padding-bottom: 30px
}

.home {
    padding-top: 50px;
    padding-bottom: 50px;
}

.connect {
    text-align: center;
}

.header {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.about-me {
    text-align: center;
}

.projects {
    text-align: center;
}

.previous {
    text-align: center;
}

.project-div {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(236, 240, 241, 0.7);
    padding-right: 25px;
    padding-left: 25px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-radius: 25px;

}


.project-image {
    max-height: 200px;
}

.text-div {
    background-color: rgba(189, 195, 199, 0.5);
    padding-right: 25px;
    padding-left: 25px;
}

.code-skill {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    font-size: 35px;
    color: black;
    line-height: 290px;
    text-align: center;
    display: inline-block;
    border: 6px solid white;
    background-color: rgba(236, 240, 241, 0.7);
}

.circle-group {
    padding-top: 30px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
    padding-left: 25px;
}

.skill-text {
    padding-top: 60px;
}

/*Images*/

#email-icon {
    height: 75px;
}

#linkedin-icon {
    height: 100px;
}

#github-icon {
    height: 80px;
}

.main-icon {
    height: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#devices {
    height: 150px;
}