<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Jessica Appelbaum</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/static/css/styles.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
     <ul class="nav row navbar-nav" id="navbar">
      <li>
        <a href="#home">
          <span class="glyphicon glyphicon-home"></span>
          <span class="text">HOME</span>
        </a>
      </li>
      <li>
        <a href="#about-me">
          <span class="glyphicon glyphicon-user"></span>
          <span class="text">ABOUT ME</span>
        </a>
      </li>
      <li>
        <a href="#projects">
          <span class="glyphicon glyphicon-wrench"></span>
          <span class="text">PROJECTS</span>
        </a>
      </li>
      <li>
        <a href="#previous">
          <span class="glyphicon glyphicon-fire"></span>
          <span class="text">PREVIOUS WORK</span>
        </a>
      </li>
      <li>
        <a href="#connect">
          <span class="glyphicon glyphicon-globe"></span>
          <span class="text">CONNECT</span>
        </a>
      </li>
    </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="content container-fluid">

  <div class="home section" id="home">
    <div class="container">
      <h1>Home!</h1>
    </div>
  </div>

  <div class="about-me section white-bg" id="about-me">
    <div class="container">
      <h1>This is an about section</h1>
    </div>
  </div>

  <div class="projects section" id="projects">
    <div class="container">
      <h1>This is a projects section</h1>
    </div>
  </div>

  <div class="previous section white-bg" id="previous">
    <div class="container">
      <h1>This is a previous work section</h1>
    </div>
  </div>

  <div class="connect section" id="connect">
    <div class="container">
      <h3 class="inverse-text">Have a project I might be interested in?</h3>
      <hr>
      <p class="inverse-text">Shoot me an email at <a href="mailto:jess.appelbaum@gmail.com" id="email-link">jess.appelbaum@gmail.com</a>!</p>
      <div>
        <div class="contact-div">
          <a href="mailto:jess.appelbaum@gmail.com">
            <img src="/static/img/email-icon.png" id="email-icon" class="icon email-padding">
          </a>
        </div>
        <div class="contact-div">
          <a href="http://www.linkedin.com/in/jessapp/">
            <img src="/static/img/linkedin-icon.png" id="linkedin-icon" class="icon linkedin-padding">
          </a>
        </div>
        <div class="contact-div">
          <a href="https://github.com/jessapp/">
            <img src="/static/img/github-icon.png" id="github-icon" class="icon extra-padding">
          </a>
        </div>
        </div>
    </div>
  </div>


</div> <!-- end of content -->

</body>
