<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <title>Jessica Appelbaum</title>
</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
     <ul class="nav row navbar-nav" id="navbar">
      <li>
        <a href="#home">
          <span class="glyphicon glyphicon-home"></span>
          <span class="text">HOME</span>
        </a>
      </li>
      <li>
        <a href="#about-me">
          <span class="glyphicon glyphicon-user"></span>
          <span class="text">ABOUT ME</span>
        </a>
      </li>
      <li>
        <a href="#projects">
          <span class="glyphicon glyphicon-blackboard"></span>
          <span class="text">PROJECTS</span>
        </a>
      </li>
      <li>
        <a href="#previous">
          <span class="glyphicon glyphicon-film"></span>
          <span class="text">PREVIOUS WORK</span>
        </a>
      </li>
      <li>
        <a href="#connect">
          <span class="glyphicon glyphicon-resize-horizontal"></span>
          <span class="text">CONNECT</span>
        </a>
      </li>
    </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="content">

  <div class="home section" id="home">
    <div class="container header">
      <h4 class="inverse-text thin-font">Hey there! My name is <span class="normal bold-font">Jessica Appelbaum</span> and I am a</h4>
      <h1 class="inverse-text"><span class="midbold-font">FULL STACK </span><span class="bold-font">SOFTWARE ENGINEER</span></h1>
      <h4 class="inverse-text thin-font">with a background in <span class="normal bold-font">film production</span><h4>
    </div>
  </div>

  <div class="about-me section white-bg" id="about-me">
    <div class="container">
      <h1>Lights, Camera, Action</h1>
      <img src="/static/img/circlepic.png" class="main-icon">
      <hr class="black-hr">
      <h3>With a background in the arts, I strive to create elegant software solutions</h3>
      <hr class="black-hr">

      <div id="about-me-wrapper">
        <div class="about-me-div" id="about-me-div2">
          <p>After graduating <span class="bold-font">Tulane University</span> with a degree in <span clas="bold-font">Digital Media Production</span>, I spent several years working as a <span class="bold-font">film producer and editor</span> in the New York City startup scene.</p>
          <p>While contracting for a company which creates video coding tutorials, I found a previously undiscovered <span class="bold-font">passion for programming</span>. I learned that code is simply another form of artistic expression. After months of self-study, I decided to pursue software engineering full-time.</p>
          <p>I recently attended the <span class="bold-font">Software Engineering Fellowship</span> at <span class="bold-font">Hackbright Academy</span>, where I learned font-end and back-end engineering skills, as well as computer science fundamentals. During that time, I built a web application called <a href="http://book-bingo.herokuapp.com/">Book Bingo</a> from the ground-up.</p>
          <p>I aim to bring my <span class="bold-font">creative problem-solving background</span> to my software engineering pursuits, and to constantly learn new skills and technologies</span>.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="projects section" id="projects">
    <div class="container">
      <h1 class="inverse-text">Projects</h1>
      <img id="devices" src="/static/img/computer.png">
      <hr>
      <h3 class="inverse-text"> “Any fool can write code that a computer can understand. Good programmers write code that humans can understand.” - Martin Fowler</h3>
      <hr>
      <div class="circle-group row col-xs-12">
        <div class="code-skill">
          <div class="skill-text">
            <h4 class="bold-font">Front End Technologies</h4>
            <h4>JavaScript</h4>
            <h4>ReactJS</h4>
            <h4>HTML5 & CSS3</h4>
            <h4>AJAX & JSON</h4>
          </div>
        </div>
        <div class="code-skill">
          <div class="skill-text">
            <h4 class="bold-font">Back End Technologies</h4>
            <h4>Python</h4>
            <h4>Flask</h4>
            <h4>SQL</h4>
          </div>
        </div>
        <div class="code-skill">
          <div class="skill-text">
            <h4 class="bold-font">Industry Tools</h4>
            <h4>Git & GitHub</h4>
            <h4>Pair Programming</h4>
            <h4>Command-Line <br>Interface</h4>
          </div>
        </div>
        <div class="code-skill">
          <div class="skill-text">
            <h4 class="bold-font">Computer Science Fundamentals</h4>
            <h4>Object-Oriented Design</h4>
            <h4>Data Structures</h4>
            <h4>Algorithms</h4>
          </div>
        </div>
        </div>
  </div>
  <div class="container project-section">
    <div class="project-div row col-xs-12">
      <div>
        <h3 class="bold-font">Book Bingo</h3>
        <h4>Book Bingo is a full-stack web application which allows users to create customizable bingo boards in which each square represents a genre. Upon reading a book that fits one of those genres, the user can enter the book's information into the corresponding field. When a user has read five books in a row, they get bingo. Users can set personal reading goals by playing on their own, or share boards with friends.</h4>
      </div>
        <div>
        <a href="http://book-bingo.herokuapp.com/">
        <img src="/static/img/bb.png" class="project-image"></a>
        </div>
    </div>
    <div class="project-div row col-xs-12">
      <div>
        <h3 class="bold-font">Panda Facts</h3>
        <h4>My first-ever web app, Panda Facts generates randomized facts about pandas (along with corresponding gifs) upon user request.</h4>
      </div>
        <div>
        <a href="http://panda-facts.com/">
        <img src="/static/img/pandafacts.png" class="project-image"></a>
        </div>
    </div>
  </div>
  </div>

  <div class="previous section white-bg" id="previous">
    <div class="container">
      <h1>Previous Work</h1>
      <h4>Before my career in software engineering, I used to make movies. Check out some of my work here.</h4><br>
      <iframe src="https://player.vimeo.com/video/126647453" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/126647453">Jessica Appelbaum Showreel</a> from <a href="https://vimeo.com/user23411729">Jessica Appelbaum</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
  </div>

  <div class="connect section" id="connect">
    <div class="container">
      <h3 class="inverse-text">Want to work together?</h3>
      <hr>
      <p class="inverse-text">Shoot me an email at <a href="mailto:jessappcodes@gmail.com" id="email-link">jessappcodes@gmail.com</a>!</p>
      <div>
        <div class="contact-div">
          <a href="mailto:jessappcodes@gmail.com">
            <img src="/static/img/email-icon.png" id="email-icon" class="icon email-padding">
          </a>
        </div>
        <div class="contact-div">
          <a href="http://www.linkedin.com/in/jessapp/">
            <img src="/static/img/linkedin-icon.png" id="linkedin-icon" class="icon linkedin-padding">
          </a>
        </div>
        <div class="contact-div">
          <a href="https://github.com/jessapp/">
            <img src="/static/img/github-icon.png" id="github-icon" class="icon extra-padding">
          </a>
        </div>
        </div>
    </div>
  </div>


</div> <!-- end of content -->

</body>